html {
	background-color: #ededed;
	font-size: 1.2rem;
	touch-action: none;
}

.container {
	display: flex;
	flex-direction: column;
}

.scroll-wrapper {
	display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.icon {
	font-size: 2rem;
}